body {
}
.tblGioHang{
    width: 80%;
    margin: 2em auto;
}

.tblGioHang tr{
    height: 35px;
    line-height:35px;
}

.btn {
    height: 60px;
    width: 150px;
    margin: auto;
}


@media screen and (max-width: 768px) {
    .btn {
        display: inherit;
    }
}