#left{
    width: 200px;
    grid-column-start: 1;
	grid-column-end: 4;

    margin: 30px 10px 50px 50px;
}
#divListViewLoaiGiay{
    background-color:#e6e6e6;
    border: 1px dotted; 
    padding: 1em;
}

#divLocTheoGia{
    margin-top: 2em;
    background-color:aliceblue;
    border: 1px dotted; 
    padding: 1em;
}

input[type="number"]{
    margin: 5px;
    width: 45%;
}

.btnLocTheoGia{
    width: 75px;
    padding: 5px;
    margin: 5px auto;
}

#ItemLoaiGiay{
    height: 35px;
}
#ItemLoaiGiay a{
    line-height: 35px;
    margin-left: 15px;
    text-decoration:none;
    color: black;
}
#ItemLoaiGiay a:hover{
    text-decoration: underline;
}

#divLocTheoGia p{
    text-align: center;
    height: 40px;
    font-weight: bold;
}

#divLocTheoGia a{
    text-align: left;
    text-decoration: none;
    color: black;
    display: block;
    height: 35px;
    margin-left: 15px;
}


#divLocTheoGia a:hover{
    text-decoration: underline;
}

#divListViewLoaiGiay p{
    text-align: center;
    height: 40px;
    font-weight: bold;
}